.container {
    display: flex;
    justify-content: center;
}

.input {
    width: 377px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px 16px;

    width: 944px;
    padding: 0;
    margin: 48px auto 0;
}