.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 980px;
    margin: 0 auto;
}

.list {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    margin: 40px auto 0;
    padding: 0;
}

.column:not(:last-child) {
    margin-right: 10px;
}